    .tablero .panel {
      padding: 8px !important;
    }
    
    .tablero {
      padding: 1px !important;
    }
    
    .us-card {
      background-color: #E4EAF0;
    }
    
    .us-card input,
    .us-card select {
      height: 24px;
    }
    
    .us-card * {
      border: 0;
      font-size: 8pt!important;
      margin: 0px;
    }
    
    .us-card .form-control {
      width: 100% !important;
    }
    
    .tablero .panel,
    .us-card .form-control,
    .us-card form-group {
      padding: 3px;
    }
    
    .us-card .form-inline .form-control {
      width: 100% !important;
    }
    
    .us-card .form-inline .form-group {
      padding: 2px !important;
    }
    
    .us-card label {
      font-size: 8pt!important;
    }
    
    .tablero .form-inline,
    .tablero .container-fluid {
      border-collapse: collapse;
      border: 0;
      padding: 1px;
    }
    .us-card #eliminar{
      padding:3px 4px 3px 4px !important;
      margin-bottom:4px !important;
    }
    
    .us-card .form-inline label{
      font-size: 7.5pt!important;
    }
    .tablero{
      min-width:500px !important;
    }
    .us-card textarea {
   resize: none;
}